*{
  margin: 0;
  padding: 0;

}

body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: #212353;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;

}

#header-main{
max-width: 1248px;
height: 754px;
margin: 30px 5% 0 15%;
}


.nav-bar{
display: flex;
align-items: center;
max-width: 1120px;
height: 60px;
}


.nav-menu{
 width: 648px;
height: 30px;
margin-left: 121px;

}
.menu{
font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #4B5D68;
padding-left: 30px;
text-decoration: none;
}


.nav-button{
padding-left:29px ;
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 160%;
display: flex;
align-items: center;
letter-spacing: 0.005em;s
color: #212353;
border: none;
width: 210px;
height: 60px;
background: #FFFFFF;
box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
border-radius: 50px;
}


.nav-icon{
    padding-left: 20px;
    padding-right: 5px;
}

.conteiner-text{
width: 645px;
height: 464px;
}

.main-text{
margin-top: 70px;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 110%;
display: flex;
align-items: center;
color: #212353;
}

.main-parag{
margin-top: 50px;
width: 380px;
height: 120px;
font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #4B5D68;
}

.bot-button{
margin-top: 50px;
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 160%;
align-items: center;
text-align: center;
border: none;
color: #FFFFFF;
width: 170px;
height: 60px;
background: #9C69E2;
border-radius: 50px

}


.pictures{
height: 468px;
max-width: 677px;
margin: -39% 0px 61px 34%;
}


/* <info */


.info{
 margin-top: 40px;
display: flex;
max-width: 1117px;
height: 560px;
margin-left: 15%;
margin-right: 10%;
background: rgba(240, 99, 184, 0.15);
border-radius: 50px;
box-sizing: border-box;
}


.info-text{
width: 500px;
height: 385px;
padding: 70px 92px 125px 550px;
}


.info-img{
position: absolute;
max-width: 477px;
min-height: 504px
}

.info-header{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
    padding-bottom: 40px;

}
.info-p{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}


.feature{
margin-top: 150px;
width: 100%;
}
.features-header{
max-width: 584px;
height: 100%;
margin: 0 auto;
text-align: center;
}

.features-title{
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 130%;
color: #212353;
}

.features-parag{
margin-top: 50px;
font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #4B5D68;
}

.feature-first{
    display: flex;
    margin-left: 15%;
    margin-right: 10%;
}

.features-block{
margin-top: 149px;
width: 481.29px;
height: 276px;
display: flex;
}


.features-block2{
margin-top: 149px;
max-width: 543.85px;
min-height: 345.56px;
display: flex;
padding-left: 92px;
}

.features-block3{
margin-top: 70px;
width: 481.29px;
height: 276px;
display: flex;
    }
.features-block4{
margin-top: 70px;
max-width: 543.85px;
min-height: 345.56px;
display: flex;
padding-left: 92px;
        }


.block-picture{
    width: 232px;
    height: 211px;
    padding-right: 29.29px;
    padding-top: 15px;
}
.block-picture2{
    width: 241px;
height: 185px;
padding-right: 29.29px;
    padding-top: 35px;
}
.block-picture3{
  padding-right: 29.29px;
    padding-top: 35px;
  width: 245px;
  height: 181px;
}
.block-picture4{
  margin-top: 15px;
  width: 230px;
height: 201px;
padding-right: 39.29px;
}

.text-block{
width: 233px;
height: 268px;
}

.block-tittle{
width: 200px;
height: 50px;
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 130%;
color: #212353;
}


.block-parag{
width: 220px;
height: 160px;
font-family: 'Actor', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
color: #4B5D68;   
}


.block-link{
font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 160%;
letter-spacing: 0.005em;
color: #212353;
text-decoration: none;
}

.icon-data{
    position: absolute;
    margin-left: 20px;
    align-items: center;
    margin-top: 5px;
    margin-left: 20px;
}